body {
    font-family: 'Playfair Display', serif;
}
.menu {
    text-align: center;
}
.menu li {
    display: inline-block;
}
.menu a{
    display:block;
    text-decoration: none;
}
.menu > li > a:hover{
    background-color: lightblue;
}
article {
    display: inline-block;
    width: 350px;
}
img{
    width: 350px;
    height: 300px;
}
article > p, h2, h3 {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}
div {
    text-align: center;
    width: 720px;
    margin: 0 auto;
}